$width-desktop: 50%;
$width-mobile: 90%;

$padding-regular: 24px;
$padding-small: 12px;

$font-size-nav: 24px;

@mixin for-mobile-only {
  @media (max-width: 900px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $padding-regular;
}

p {
  margin-bottom: $padding-small;
}

hr {
  margin: $padding-regular 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1200px;
  min-height: 100vh;
  width: $width-desktop;

  @include for-mobile-only {
    width: $width-mobile;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  >* {
    padding: $padding-regular 0;
  }

  header {
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        text-decoration: none;
        color: inherit;
      }

      .home-link {
        font-weight: bold;
        font-size: $font-size-nav;
        flex: 1;
      }

      .other-links {}
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
      ul {
        list-style: none;

        a {
          text-decoration: underline;
          color: inherit;
        }
      }
    }
  }
}

.title {
  text-align: center;
  margin-bottom: $padding-regular;
}

.furniture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $padding-regular;

  .item {
    img {
      width: auto;
      height: 350px;
    }
  }
}

.product-images {
  display: flex;
  flex-direction: column;
  align-items: center;

  .product-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin-bottom: $padding-regular;
  }
}

table.product-info {
  width: 100%;
  margin: 0 auto;
  border-spacing: $padding-regular;

  tr>td:first-child {
    font-weight: bold;
  }

}